[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
requests = "*"
pytest-mock = "*"
pytest-cov = "*"
pre-commit = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
coverage = "coverage run -m pytest && coverage report -m"
